<% layout('layouts/boilerplate') %>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Result</h1>
      <div class="card" style="width: 25rem;">
          <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201506/result_650_061815035802.jpg?VersionId=M_1ieOu9TLZGLOfqQEEbrkYJO49Gbeh_" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= student.name %></h5>
            <p class="card-text">Much more potential.</p>
          </div>
          <ul class="list-group list-group-flush">
            <% for(let score in subScore){ %>
              <li class="list-group-item"><%= score %> : <%= subScore[score] %></li> 
            <% } %>
            <li class="list-group-item"><h5>Total Marks Obtained = <%= totalMarks %></h5></li>
            <li class="list-group-item"><h5>Percentage = <%= percentage %></h5></li>
          </ul>
          
          <div class="card-body">
            <a class="btn btn-success" href="/students/<%= student._id %>">Back To Student</a>
          </div>
        </div>
      
    </div>
  </div>